<div>
  <h3>Adicionar Novo Cliente</h3>
</div>
<div *ngIf="isLoadingResults">
  <mat-spinner ></mat-spinner>
</div>
<form class="example-container" *ngIf="!isLoadingResults" [formGroup]="customerForm" (ngSubmit)="addCustomer(customerForm.value)">
  <mat-form-field>
    <input matInput name="name" placeholder="Nome do cliente (razão social ou nome fantasia)" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="contactName" placeholder="Nome do contato (pessoa responsável)" formControlName="contactName">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="date" [matDatepicker]="dp" placeholder="Data em que se tornou cliente" formControlName="date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="month"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" [disabled]="!customerForm.valid" mat-button color="primary" >Adicionar</button>
</form>
